#* @vtlvariable name="selectedProject" type="com.atlassian.jira.project.Project" *#
<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    <meta name="projectId" content="$selectedProject.id"/>
    <meta name="projectKey" content="$selectedProject.key"/>
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
    <meta name="admin.active.tab" content="application-web-item-link"/>
</head>
<body>
<h1>show my application</h1>
</body>
</html>